:root{
    --color-yellow: rgb(239, 204, 5);

    --
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.4;
    /* color: #00030e; */
}

/* navbar */
nav{
    width: 100%;
    height: 64px;
    background-color: var(--color-yellow);
    display: flex;
    align-items: center;
    padding: 10px 30px;
}

.badge{
    height: 40px;
    margin-right: 20px;
}

.brand{
    font-size: 22px;
    font-weight: bolder;
}

/* intro */
.intro-pic{
    width: 100%;
    height: 700px;
    background: url(photo_2024-11-22_14-32-50.jpg);
    background-position: center;
    background-repeat: no-repeat;
    color: white;
}

.overlay{
    width: inherit;
    height: inherit;
    background-color: rgba(0,0,0,0.3);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    text-align: center;
    padding: 60px 30px;
}

.intro-header{
    font-size: 20px;
}

.intro-header span{
    color: var(--color-yellow);
    font-weight: bolder;
}

.intro-text{
    margin-top: 20px;
}

/* Vision and mission */


.vision-head, .mission-head{
    text-align: center;font-weight: bold;
    font-size: 18px;

}

.vision-statement, .mission-statement{
    width: 70%;
    margin: auto;
    
}

section{
    margin: 50px;
    padding: 30px;
}

.section--header{
    font-size: 24px;
    margin-bottom: 30px;
    text-align: center;
    color: #FFCB0D;
}

.about{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.card--container{
    display: flex;
    align-items: start;
    justify-content: center;
    flex-wrap: wrap;
}




.card{
    background-color: rgb(255, 255, 255);
    margin: 15px;
    padding: 20px;
    border-radius: 20px;
    margin-bottom: 30px;
    width: 40%;
    min-width: 300px;
    padding: 10px 35px;
    box-shadow: 6px 5px 22px rgb(142, 141, 141);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card img{
    width: 98%;
    height: auto;
    border-radius: 20px;
}
.proprietor--img, .headmistress--img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
}



.card--header{
    text-align: center;
    margin: 20px 0;
    font-size: 22px;
}

.card--info{
    text-align: center;
    font-size: 18px;
    margin-top: 1.8rem;
}

.achievement--card{
    width: 25%;
}

.card h4{
    margin-bottom: 0px;
}

.location h3{
    font-size: 30px;
    width: 100%;
    text-align: center;
    color: #FFCB0D;
    margin-bottom: 25px;
}

.map{
    width: 100%;
    text-align: center;
}

.socials{
    display: flex;
    justify-content: space-evenly;
}

.bi a{
    margin-left: 30px;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    color: black;

}

.bi a:hover{
    color: rgb(221, 2, 2);
}

@media screen and (min-width: 760px) {
    .intro-pic{
        height: 555px;
    }
}
