:root{
    /* colors */
    --color-red: red;
    --color-purple: purple;
    --color-yellow: yellow; 

    /* fonts */
    --section-header-fsz: 28px;
    --card-header: 24px;
    --card-info: 20px;

}


*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    color: var(--primary-color);
    font-family: 'roboto';
    line-height: 1.4rem;
}

body{
    background-color: f1fbff;
    padding-top: 120px;
}

nav{
    background: rgb(246, 10, 10);
    height: auto;
    width: 100%;
    z-index: 100;
    display: flex;
    padding: 20px 0 20px 10px;
    position: fixed;
    top: 0;
}

.container{
    margin-top: 23px;
    
}

.line1,.line2,.line3{
    width: 35px;
    height: 4px;
    background-color: white;
    margin: 8px;
}



label.logo{
    color: white;
    font-size: 35px;
    line-height: 80px;
    padding: 0 80px 0 60px;
    font-weight: bold;
    margin-left: -30px;
}

label.logo span{
    color: rgb(249, 204, 5);
}

label.short{
    display: none;
}

nav ul{
    float: right;
    margin-right: 20px;
}

nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}

nav ul li a{
    color: white;
    font-size: 17px;
    font-weight: bold;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
}

a.active,a:hover{
    background: rgb(249, 204, 5);
    transition: .5s;
    transform-origin: left;
}

.checkbtn{
    font-size: 30px;
    color: balck;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}   

#check{
    display: none;
}

@media screen and (max-width: 1021px) {
    .logo{
        display: none;
    }

    label.short{
        display: inline;
    }

    
}

@media(max-width: 952px) {
    label.logo{
        font-size: 30px;
        padding-left: 50px;
    }

    nav ul li a{
        font-size: 16px;
    }
    
}

@media(max-width: 858px) {
    .checkbtn{
        display: block;
    }
    ul{
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #ae3fd3;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .8s;
    }

    nav ul li{
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }

    nav ul li a{
        font-size: 20px;
    }

    a:hover,a:active{
        background: none;
        color: #0082e6;
    }

    #check:checked ~ ul{
        left: 0;
    }
} 

.intro-pic{
    background: url(/photo_2024-11-22_14-32-50.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 0;
    margin: 0;
    height: 800px;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}

.header-text{
    font-size: 26px;
    font-weight: 700;
    text-align: center;
}

.intro-text{
    text-align: center;
    font-size: 20px;
    width: 700px;
    padding-bottom: 150px;
}

.welcome-message{
    font-size: 30px;
    font-weight: bold;
    justify-self: center;
}

section{
    margin: 50px;
    padding: 30px;
}

.section--header{
    font-size: var(--section-header-fsz);
    margin-bottom: 30px;
    text-align: center;
    color: #FFCB0D;
}

.about{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.card--container{
    display: flex;
    align-items: start;
    justify-content: center;
    flex-wrap: wrap;
}




.card{
    background-color: rgb(255, 255, 255);
    margin: 15px;
    padding: 20px;
    border-radius: 20px;
    margin-bottom: 30px;
    width: 40%;
    min-width: 300px;
    padding: 30px 50px;
    box-shadow: 6px 5px 22px rgb(142, 141, 141);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card img{
    width: 98%;
    height: auto;
    border-radius: 20px;
}
.proprietor--img, .headmistress--img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
}



.card--header{
    text-align: center;
    margin: 20px 0;
    font-size: 22px;
}

.card--info{
    text-align: center;
    font-size: 18px;
    margin-top: 1.8rem;
}

.achievement--card{
    width: 25%;
}

.card h4{
    margin-bottom: 0px;
}

.location h3{
    font-size: 30px;
    width: 100%;
    text-align: center;
    color: #FFCB0D;
    margin-bottom: 25px;
}

.map{
    width: 100%;
    text-align: center;
}

.socials{
    display: flex;
    justify-content: space-evenly;
}

.bi a{
    margin-left: 30px;
    padding: 10px 20px;
    border-radius: 5px;
}

